@model InfinetworksOnlineTest.Models.AnswerModel

@{
    ViewData["Title"] = "Index";
}

<form asp-area="" asp-controller="Home" asp-action="AddAnswerInterviewer" method="post">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card-columns">
                <div class="card bg-primary">
                    <div class="card-body">
                        <label class="text-white" id="namaLengkap">@ViewBag.Fullname</label>
                    </div>
                </div>
                <div class="card bg-primary ">
                    <div class="card-body">
                        <label class="text-white" id="noTelepon">@ViewBag.PhoneNumber</label>

                    </div>
                </div>
                <div class="card bg-primary">
                    <div class="card-body">
                        <label class="text-white" id="divisi">@ViewBag.Division</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card bg-secondary" style="width: 100%;">
                <div class="card-body text-center text-capitalize" id="TimingLeft" data-backdrop="static">
                    <div class="form-inline justify-content-center">
                        <label id="lblTitle" CssClass="text-white">TIME LEFT : </label>
                        &nbsp;
                        <span id="lblTime" class="text-white">TIME IS NOT START </span>
                        <input id="hidUserID" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col col-md-12 col-lg-12">
                <div class="form-group">
                    <button id="btnSimpanTop" class="btn btn-success form-control insertDataTop" type="submit">Simpan Jawaban</button>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="accordion" id="accordionQuestion">
                <div class="card">
                    <div class="card-header" id="QuestionOne">
                        <h5 class="mb-0 align-content-center">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collQuestOne" aria-expanded="false" aria-controls="collQuestOne">
                                <b>First Part Question (Test Database) #1</b>
                            </a>
                        </h5>
                    </div>
                    <div id="collQuestOne" class="collapse show" aria-labelledby="QuestionOne" data-parent="#accordionQuestion">
                        <div class="card-body">
                            <h5 class="h5 text-center">Test Database</h5>
                            <ol>
                                <li>
                                    Sebuah database memiliki dua table dengan komposisi sebagai berikut
                                    <br />
                                    <table class="table table-hover table-sm">
                                        <thead>
                                            <tr>
                                                <th>Karayawan</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>Tunjangan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nrp</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>Tanggal</td>
                                            </tr>
                                            <tr>
                                                <td>Nama</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>Nrp</td>
                                            </tr>
                                            <tr>
                                                <td>Alamat</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>Transport</td>
                                            </tr>
                                            <tr>
                                                <td>Telepon</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>Makan</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <label asp-for="AnswersOne" class="custom-control-label"> Dari table di atas, tolong dibuatkan query untuk keperluan sesuai kriteria di bawah :</label>
                                    <ul>
                                        <li>Ambilkan data tanggal, transport dan makan untuk <b>nrp A8930</b></li>
                                        <li>Ambilkan data nama, alamat, transport dan makan untuk <b>nrp C1288</b> pada tanggal <b>15 Desember 2016</b></li>
                                        <li>Hapus data tunjangan untuk <b>nrp B3555</b> pada tanggal <b>2 Juni 2016</b></li>
                                    </ul>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersOne" name="AnswersOne" id="AnswersOne" class="form-control question1TD" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersOne" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersTwo" class="custom-control-label">Apa perintah yang digunakan pada linux untuk melihat isi directory ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersTwo" name="AnswersTwo" id="AnswersTwo" class="form-control question2TD" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersTwo" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersThree" class="custom-control-label">Jelaskan pengertian anda mengenai database dan kegunaannya ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersThree" name="AnswersThree" id="AnswersThree" class="form-control question3TD" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersThree" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersFourth" class="custom-control-label">Apa kegunaan tombol freeze view pada SQL Developer ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersFourth" name="AnswersFourth" id="AnswersFourth" class="form-control question4TD" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersFourth" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group align-content-end">
                                            <button id="btnLockAnswersTD" class="btn btn-danger btnLockAnswersTD" type="button">Kunci Jawaban</button>
                                        </div>*@
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="QuestionTwo">
                        <h5 class="mb-0">
                            <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collQuestTwo" aria-expanded="false" aria-controls="collQuestTwo">
                                <b>Second Part Question (Test General IT) #2</b>
                            </a>
                        </h5>
                    </div>
                    <div id="collQuestTwo" class="collapse" aria-labelledby="QuestionTwo" data-parent="#accordionQuestion">
                        <div class="card-body">
                            <ol>
                                <li>
                                    <label asp-for="AnswersFive" class="custom-control-label">
                                        Anda seorang IT Support. Suatu saat anda dihubungi oleh user cabang yang mengatakan bahwa mereka tidak dapat
                                        <br />
                                        terkoneksi ke aplikasi yang digunakan, apakah yang anda lakukan ?
                                    </label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersFive" name="AnswersFive" id="AnswersFive" class="form-control question1TGI" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersFive" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersSix" class="custom-control-label">Bagaimana cara mengatasi virus ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersSix" name="AnswersSix" id="AnswersSix" class="form-control question2TGI" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersSix" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersSeven" class="custom-control-label">Apa nama ekstension untuk database file Microsoft Outlook ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersSeven" name="AnswersSeven" id="AnswersSeven" class="form-control question3TGI" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersSeven" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersEight" class="custom-control-label">Apa perintah untuk melihat isi didalam suatu directory pada Microsoft dan Linux ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersEight" name="AnswersEight" id="AnswersEight" class="form-control question4TGI" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersEight" class="text-danger"></span>
                                    </div>
                                </li>
                                <li>
                                    <label asp-for="AnswersNine" class="custom-control-label">Sebutkan jenis - jenis protocol dalam jaringan yang anda ketahui ?</label>
                                    <div class="form-group">
                                        <textarea asp-for="AnswersNine" name="AnswersNine" id="AnswersNine" class="form-control question5TGI" rows="5" cols="10" required></textarea>
                                        <span asp-validation-for="AnswersNine" class="text-danger"></span>
                                    </div>
                                    @*<div class="form-group  align-content-end">
                                            <button id="btnLockAnswersTGI" class="btn btn-danger btnLockAnswersTGI" type="button">Kunci Jawaban</button>
                                        </div>*@
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col col-md-12 col-lg-12">
                <p class="text-center h3">Good Luck 😊</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-md-12 col-lg-12">
                <div class="form-group">
                    <button id="btnSimpanBottom" class="btn btn-success form-control insertDataBottom" type="submit">Simpan Jawaban</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <h3 class="h3">@ViewBag.Status</h3>
    <h3 class="h3">@ViewBag.StatusDBError</h3>
</div>

<div id="expireSession" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="parafTime">Your time is less than <strong>one (-1) </strong>minute again, immediately complete the questions that have not been answered.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            let getMinute = @ViewBag.TimeLeft;
            let minute = getMinute / 1000;
            //let curOneMinute = minute - 60 * 1000;
            //let curThirtySecond = minute - 30 * 1000;

            let countMinute = $('#lblTime').timeTo({
                seconds: minute
            });

            $('#btnLockAnswersTGI').on('click', function () {
                Swal.fire({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href>Why do I have this issue?</a>'
                });
            });

            $('#lblTime').append(countMinute);
            //setTimeout(function () {
            //    $('#expireSession').modal('show');
            //}, countMinute - 60 * 1000);

            //setTimeout(function () {
            //    $('#expireSession').modal('show');
            //    $('#parafTime').html($('#parafTime').html().replace(
            //        `Your time is less than <strong>one (-1) </strong>minute again, immediately complete the questions that have not been answered.`,
            //        `Your time is less than <strong>thirty (-30) </strong>seconds again, immediately complete unanswered questions.`));
            //}, countMinute - 30 * 1000);
        });

        function regisSuccess() {
            const Toast = Swal.mixin({
                toast: true,
                position: 'bottom-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: 'success',
                title: 'Register Successfully'
            });
        }

        window.onload = regisSuccess;
    </script>
}