@model InfinetworksOnlineTest.Models.AnswerModel
@{
    ViewData["Title"] = "Congratulation";
}

<h1>Congratulation</h1>

<h3 class="h3">@ViewBag.Status</h3>
<h3 class="h3">@ViewBag.StatusDBError</h3>
<h3 class="h3">@ViewBag.StatusSystemError</h3>

@*<h3 class="h1">@Model.AnswersOne</h3>
<h3 class="h1">@Model.AnswersTwo</h3>
<h3 class="h1">@Model.AnswersThree</h3>
<h3 class="h1">@Model.AnswersFourth</h3>
<h3 class="h1">@Model.AnswersFive</h3>
<h3 class="h1">@Model.AnswersSix</h3>
<h3 class="h1">@Model.AnswersSeven</h3>
<h3 class="h1">@Model.AnswersEight</h3>
<h3 class="h1">@Model.AnswersNine</h3>*@
@*<h3 class="h1">@Model.Usr_InterviewID</h3>*@